html { 
	font-size: 16px;	
    line-height: 1.625em; 
   	background-color: black; 
}

* { 
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

#pythonLogo { 
	color: #99CC00;  
	font: courier; 
	text-decoration: none; 
	font-size: 250%; 
	position: absolute; 
	bottom: 2px; 
	left: 10px;
}

#menucontent button, .content button, #submit{ 
	background-color: #5C8A00;
}

#menubuttons a, #submit{  
	background-color: #5C8A00;
	text-decoration: none; 
	color: lime; 
	font-size: 125%; 
	padding: 3px;
} 

#warnings a{ 
	color: lime; 
}

.content a{ 
	color: #99CC00;
}

body {
	font: normal 16px/26px Arial, sans-serif;   
	background-color: black; 
	margin: auto;  
	color: #00FF00; 
	position: relative;
}  

h1 {
	font: bold 49px/1em "Helvetica Neue", Arial, sans-serif; 
    font-weight: bold; 
    line-height: 1em;  
    text-align: center;
}   

a:hover, a:active, a:focus {
    color: #2a3744
} 

.menubar { 
	background-color: #474747;   
	height: 50px;    
	width: 100%;
}

.content {  
	margin-top: 75px;   
	margin-right: auto; 
	margin-left: auto;
	width: 900px; 
	position: relative;
}

#menucontent { 
	width: 900px;  
	height: 50px; 
	margin-right: auto; 
	margin-left: auto; 
	position: relative;
}

#menubuttons {  
	float: right;     
	margin-top: 10px; 
	margin-right: 15px;
}

.navigator {      
	margin-top: 50px;
	margin-left: auto; 
	margin-right: auto;   
	height: 128px; 
	width: 900px; 
	position: relative;
} 

#middlebutton {  
	background: #39f03f;
 	background-image: -webkit-linear-gradient(top, #39f03f, #9ae045);
  	background-image: -moz-linear-gradient(top, #39f03f, #9ae045);
  	background-image: -ms-linear-gradient(top, #39f03f, #9ae045);
  	background-image: -o-linear-gradient(top, #39f03f, #9ae045);
  	background-image: linear-gradient(to bottom, #39f03f, #9ae045);
  	-webkit-border-radius: 28;
	-moz-border-radius: 28;
 	border-radius: 28px;
  	font-family: Arial;
  	font-size: 20px;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none; 
  	margin-right: 15px; 
  	margin-left: 15px;  
  	position: absolute; 
  	left: 314px; 
  	bottom: 52px; 
  	text-decoration: none;
}  

#middlebutton a{ 
  	color: #5C8A00;
}

#middlebutton:hover{ 
	background: #18c267;
  	background-image: -webkit-linear-gradient(top, #18c267, #0abd57);
  	background-image: -moz-linear-gradient(top, #18c267, #0abd57);
  	background-image: -ms-linear-gradient(top, #18c267, #0abd57);
  	background-image: -o-linear-gradient(top, #18c267, #0abd57);
  	background-image: linear-gradient(to bottom, #18c267, #0abd57);
  	text-decoration: none;
} 

#rightNaviArrow { 
	position: absolute; 
	left: 575px;  
	bottom: 18px;
} 

#leftNaviArrow { 
	position: absolute; 
	left: 190px; 
	bottom: 18px;
}  

#warnings { 
		text-align: center;
		margin-top: 30px; 
		margin-bottom: 30px;
} 

#login { 
	background-color: #474747; 
	width: 202px;    
	padding-left: 25px; 
	padding-top: 5px; 
	padding-right: 25px; 
	position: relative;  
	left: 200px; 
	top: 40px;
	z-index: 3;
} 

#loginbutton { 
	width: 202px; 
	border-radius: 0px; 
	background-color: #99CC00; 
	position: relative; 
	right: 25px; 
	font-size: 125% 
} 



#pythons {   
	position:relative; 
	bottom: 140px; 
	z-index: 2;
}  

#pyBig {  
	position: relative; 
	bottom: -32px;
}

#des { 
	background-color: #474747; 
	width: 100%;   
	position: relative; 
	bottom: 168px; 
	padding-top: 50px; 
	padding-bottom: 50px; 
	z-index: 3;
}   

#descontent {  
	width: 900px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 0px; 
}  

#goodjob {  
	position: relative; 
	left: 160px;
} 

#upbox {
	background-color: #474747; 
	width: 400px; 
	padding-top: 10px; 
	position: relative; 
	left: 245px;
}

#upbutton { 
	width: 400px; 
	border-radius: 0px; 
	background-color: #99CC00; 
	font-size: 125%
}

#fbans { 
	color: red;
} 

#complete {  
	vertical-align: middle;
}

#mc { 
	position: relative; 
	left: 250px;
} 

#login2 { 
	background-color: #474747; 
	width: 202px;    
	padding-left: 25px; 
	padding-top: 5px; 
	padding-right: 25px; 
	position: relative;  
	left: 350px; 
} 